@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">退出中...</h1>
    <p></p>

</div>
@section Scripts{
<script type="text/javascript" src="/lib/js.cookie.min.js"></script>
<script type="text/javascript">
    if (window.confirm("确认退出登录？退出登录将会同时退出房间！")) {
        $.post('/api/user/logout', null, function () {
            Cookies.remove('.AspNetCore.Session');
            Cookies.remove('.AspNetCore.Cookies');
            window.location = '/';
        });
    } else {
        window.location = '/';
    }
</script> 
}