@model OneNightWerewolf.User;
@{
    ViewData["Title"] = "首页";
    if (ViewData["room.roles"] == null)
    {
        ViewData["room.roles"] = "0,0,0,1,1,4,5,6"; // 经典牌型
    }
}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="btn-group  mb-3" role="group" aria-label="Game Menu">
                <button id="Config" type="button" class="btn btn-primary btn-lg">设置</button>
                <button id="Start" type="button" class="btn btn-primary btn-lg" disabled>开始</button>
                <button id="History" type="button" class="btn btn-primary btn-lg">历史</button>
                <button id="MyOptions" type="button" class="btn btn-primary btn-lg">刷新&nbsp;<span id="CountDown" style="display: inline-block; width: 1em"></span></button>
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <div class="dropdown-item form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="EnableCountDown" value="EnableCountDown" checked="checked">
                        <label class="form-check-label" for="EnableCountDown">自动刷新</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ConfigContainer" class="container">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">房间号</span>
                </div>
                <input id="RoomId" type="text" value="@Model.RoomId" placeholder="房间别进错" class="form-control form-control-lg" aria-label="RoomId" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button id="Join" class="btn btn-outline-primary btn-lg" type="button">进入</button>
                    <button id="Leave" class="btn btn-outline-danger btn-lg" type="button">离开</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">角色牌</span>
                </div>
                <input id="Roles" type="text" value="@ViewData["room.roles"]" placeholder="角色编号参照简介" class="form-control form-control-lg" aria-label="Roles" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button id="New" class="btn btn-outline-primary btn-lg" type="button">创建</button>
                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <button id="New3" class="dropdown-item btn btn-outline-primary btn-lg" type="button">3人局</button>
                        <button id="New4" class="dropdown-item btn btn-outline-primary btn-lg" type="button">4人局</button>
                        <button id="New5" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局</button>
                        <button id="New6_zy" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+爪牙</button>
                        <button id="New6_jg" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+酒鬼</button>
                        <button id="New6_smz" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+失眠者</button>
                        <button id="New6_lr" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+猎人</button>
                        <button id="New6_pj" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+皮匠</button>
                        <button id="New6_yl" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+幽灵</button>
                        <button id="New7_zy_jg" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+爪牙+酒鬼</button>
                        <button id="New7_zy_smz" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+爪牙+失眠者</button>
                        <button id="New7_zy_lr" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+爪牙+猎人</button>
                        <button id="New7_jg_smz" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+酒鬼+失眠者</button>
                        <button id="New7_jg_lr" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+酒鬼+猎人</button>
                        <button id="New7_smz_lr" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+失眠者+猎人</button>
                        <button id="New7_syr" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+2守夜人</button>
                        <button id="New7_zy_yl" class="dropdown-item btn btn-outline-primary btn-lg" type="button">5人局+爪牙+幽灵</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="RefreshRommList" type="button" class="btn btn-primary btn-lg btn-block mb-2">刷新房间</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="RoomListContainer" class="container">
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="GameDashboard" class="container">
    <div class="row">
        <div class="col-2 pr-0 pl-0 align-middle text-right">
            <h6>角色:</h6>
        </div>
        <div class="col-10">
            <h6 id="RoleContainer"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-2 pr-0 pl-0 align-middle text-right">
            <h6>玩家:</h6>
        </div>
        <div class="col-10">
            <h6 id="PlayerContainer"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-2 pr-0 pl-0 align-middle text-right">
            <h6>用户:</h6>
        </div>
        <div class="col-3">
            <h6 id="UserContainer">@ViewData["user.nick"]</h6>
        </div>
        <div class="col-2 pr-0 pl-0 align-middle text-right">
            <h6>时间:</h6>
        </div>
        <div class="col-5">
            <h6 id="TimeContainer"></h6>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col text-center" id="OptionContainer">
        </div>
    </div>
</div>


@section Scripts{
<script type="text/javascript">$(function () {

        function R(a, b) {
            return parseInt(a + Math.random() * Math.abs(b - a));
        }

        function CountDown(t, cb, selector) {
            var callee = arguments.callee;
            selector = selector || "#CountDown";
            if (callee[selector]) {
                clearTimeout(arguments.callee[selector]);
                callee[selector] = null;
            }
            $(selector).text(t);
            callee[selector] = setTimeout(function () {
                callee[selector] = null;
                if (t - 1 == 0) {
                    $("selector").text("0");
                    cb();
                } else {
                    CountDown(t - 1, cb, selector);
                }
            }, 1000);
        }

        function CancelCountDown(selector) {
            selector = selector || "#CountDown";
            if (arguments.callee[selector]) {
                clearTimeout(arguments.callee[selector]);
                arguments.callee[selector] = null;
            }
            $(selector).text("");
        }

        function AutoNextPhase() {
            if (IsCountDownEnabled()) {
                CountDown(3, function () {
                    MyOptions();
                });
            } else {
                CancelCountDown();
            }
        }

        function IsCountDownEnabled() {
            return $("#EnableCountDown").is(":checked")
        }

        function IsRoomMaster() {
            $.get("/api/game/isroommaster")
                .done(function (data) {
                    if (data.data) {
                        $("#Start").removeAttr("disabled");
                        $("#Start").show();
                        IsRoomMaster.cache = true;
                    } else {
                        $("#Start").attr("disabled", "disabled");
                        $("#Start").hide();
                        IsRoomMaster.cache = false;
                    }
                });
        }

        function IsRoomMasterByCache() {
            return IsRoomMaster.cache;
        }

        function GetRoomList() {
            $.get("api/game/roomlist")
                .done(function (data) {
                    if (data.code == 0) {
                        $("#RoomListContainer").html("");
                        for (var i = 0; i < data.data.length; i++) {
                            var row = $("<div class='row'></div>");
                            var game1 = data.data[i];
                            var btn1 = $('<button class="btn btn-primary btn-block" type="submit">加入</button>')
                                .click(function () {
                                    $("#RoomId").val(game1.id);
                                    Join();
                                });
                            var cap = game1.cards.length - 3;
                            var need = (cap - game1.players.length);
                            var info = cap + "人房,";
                            info += need > 0 ? ("缺" + need + "人") : "满员";
                            info += ": ";
                            info += game1.players.map(function (p) { return p.userNick }).join(',');

                            row.append($("<div class='col card text-left'></div>")
                                .append($("<div class='card-body'><div class='card-title'><h5>" + game1.id + "</h5></div></div>")
                                    .append("<div>" + info + "</div>")
                                    .append(btn1)));

                            $("#RoomListContainer").append(row);
                        }
                    }
                });
        }

        function DawnClock() {
            var callee = arguments.callee;
            var selector = arguments.callee.container = "#TimeContainer";
            $.get("/api/game/getdawntime")
                .done(function (data) {
                    if (callee.handler) {
                        clearTimeout(callee.handler);
                        callee.handler = null;
                        callee.time = null;
                    }
                    if (data.data <= 0) {
                        $(selector).text("--:--");
                    } else {
                        var time = new Date().getTime() - (data.data * 1000)
                        callee.time = time;
                        (function () {
                            callee.handler = null;
                            var duration = parseInt((new Date().getTime() - DawnClock.time) / 1000);
                            $(selector).text(parseInt(duration / 60) + ":" + (duration % 60 < 10 ? "0" + duration % 60 : duration % 60));

                            if (callee.handler) {
                                clearTimeout(callee.handler);
                            }
                            callee.handler = setTimeout(arguments.callee, 1000)
                        })();
                    }
                });
        }

        function MyOptions() {
            IsRoomMaster();
            Roles();
            Players();
            DawnClock();
            $.get("/api/game/myoptionsdesc", null).done(function (data) {
                if (data.code > 0) {
                    if (data.code == 1) {
                        // 没登录
                        window.location = window.location;
                    } else if (data.code == 7) {
                        // 无房间
                        RoomButtonConfig(false);
                        $("#OptionContainer").html("")
                    }
                    //alert(data.message);
                } else {
                    if (data.data == null || data.data.options == null || data.data.options.length == 0) {
                        // 获取上次的信息
                        MyLastOptionDesc();
                        return;
                    }
                    if (data.data && data.data.options && data.data.options.length == 1) {
                        // Action(0); // 自动选择
                        // return;
                    }

                    var descs = data.data;

                    var isDayPhase = descs.phase.match(/天亮/);
                    var isStartPhase = descs.phase.match(/游戏开始/);
                    var isOverPhase = descs.phase.match(/游戏结束/);

                    $("#OptionContainer")
                        .html("")
                        .append("<h3>" + descs.phase + "</h3>");


                    descs.options.forEach(function (desc, i) {
                        var btn = $("<a href='javascript:void(0)' />").text(desc);
                        if (isDayPhase) {
                            btn.click(function () {
                                if (window.confirm("确定" + desc + "?")) {
                                    Action(i);
                                }
                            });
                        } else {
                            btn.click(function () {
                                Action(i);
                            });
                        }
                        $("#OptionContainer").append($("<h3>").append(btn));
                    });
                    if (!isStartPhase && !isOverPhase && !isDayPhase && IsCountDownEnabled()) {
                        CountDown(R(15, 20), function () {
                            Action(R(0, descs.options.length));
                        });
                    } else {
                        CancelCountDown();
                    }
                }
            });
        }

        function MyLastOptionDesc() {
            $.get("/api/game/mylastoptiondesc", null)
                .done(function (data) {
                    if (data.code > 0) {
                        if (data.code == 1) {
                            // 没登录
                            window.location = window.location;
                        } else if (data.code == 7) {
                            // 无房间
                            MyOptions();
                            return;
                        }
                        //alert(data.message);
                    } else {
                        AutoNextPhase();
                        if (data.data == null || data.data.options == null || data.data.options.length == 0) {
                            $("#OptionContainer").html("")
                            return;
                        }

                        var descs = data.data;
                        $("#OptionContainer").html("<br/>").append("<h3>" + descs.phase + "</h3>");
                        var actionResult = descs.options[0].split("\n\n");
                        $("#OptionContainer").append($("<h3>").html(actionResult[0].replace("=>", "：")));
                        if (actionResult.length > 1)
                            $("#OptionContainer").append(actionResult[1].replace(/\n/g, "<br/>"));

                    }
                });
        }

        function Action(option) {
            $.post("/api/game/action?no=" + option, null)
                .done(function (data) {
                    if (data.code > 0) {
                        if (data.code == 1) {
                            // 没登录
                            window.location = window.location;
                        } else if (data.code == 7) {
                            // 无房间
                            MyOptions();
                            return;
                        } else {
                            alert(data.message);
                        }
                    }
                    MyLastOptionDesc();
                });
        }

        function History() {
            $.get("/api/game/myinfo")
                .done(function (data) {
                    if (data.code > 0) {
                    } else {
                        alert(data.data);
                    }
                });
        }

        function Players() {
            $.get("/api/game/players")
                .done(function (data) {
                    if (data.code > 0) {
                        //alert(data.message);
                        $("#PlayerContainer").html("").append($("<h6 class='text-danger'>").html("请先加入房间"));
                        RoomButtonConfig(false);
                    } else {
                        $("#PlayerContainer").html("");
                        $("#PlayerContainer")
                            .append(data.data.map(function (p, i) {
                                if (i == 0) {
                                    var masterbtn = $("<a href='javascript:void(0)' />").append("[P" + p.seatNo + "]");
                                    return $("<span>").append(masterbtn).append(p.userNick);
                                } else {
                                    var kickbtn = $("<a href='javascript:void(0)' />").append("[P" + p.seatNo + "]");
                                    if (IsRoomMasterByCache()) kickbtn.click(function () { Kick(p); });
                                    return $("<span>").append(",&nbsp;").append(kickbtn).append(p.userNick);
                                }
                            }));

                    }
                });
        }

        function Roles() {
            $.get("/api/game/roles")
                .done(function (data) {
                    if (data.code > 0) {
                        //alert(data.message);
                        $("#RoleContainer").html($("<h6 class='text-danger'>").html("请先加入房间"));
                    } else {
                        var roles = data.data.reduce(function (r, d, i, arr) {
                            if (i == 0 || arr[i - 1] != d) {
                                r.push({
                                    "role": d,
                                    "num": 1
                                });
                            } else {
                                r[r.length - 1].num++;
                            }
                            return r;
                        }, [])
                            .map(function (d, i) {
                                return d.num == 1 ? d.role : (d.role + "X" + d.num);
                            });
                        $("#RoleContainer").html("");
                        $("#RoleContainer").append(roles.join(",&nbsp;"));
                    }
                });
        }

        function Start() {
            $.post("/api/game/start", null)
                .done(function (data) {
                    if (data.code > 0) {
                        alert(data.message);
                    } else {
                        //$("#OptionContainer").html("").append($("<h3>").html("游戏已开始，请刷新"));
                        //AutoNextPhase();
                        MyOptions();
                    }
                });
        }

        function Leave() {
            if (IsRoomMasterByCache() && !window.confirm("你是房主，确定离开房间么？")) {
                return;
            }
            $.post("/api/game/leave", null)
                .done(function (data) {
                    if (data.code > 0) {
                        alert(data.message);
                    }
                    RoomButtonConfig(false);
                    MyOptions();
                    IsRoomMaster();
                });
        }

        function Kick(player) {
            if (window.confirm("确认踢出玩家：" + player.userNick)) {
                $.post("/api/game/kick?seatNo=" + player.seatNo, null)
                    .done(function (data) {
                        if (data.code > 0) {
                            alert(data.message);
                        } else {
                            MyOptions();
                        }
                    });
            }
        }

        function Join(roomId) {
            roomId = roomId || $("#RoomId").val();
            if (!roomId) {
                $("#RoomId").focus();
                return;
            }
            $.post("/api/game/join?roomId=" + encodeURIComponent(roomId), null)
                .done(function (data) {
                    if (data.code > 0) {
                        alert(data.message);
                    } else {
                        RoomButtonConfig(true);
                        Config();
                        MyOptions();
                    }
                    IsRoomMaster();
                });
        }

        function New(roomId, roles) {
            roomId = roomId || $("#RoomId").val();
            roles = roles || $("#Roles").val();
            if (!roomId) {
                $("#RoomId").focus();
                return;
            }
            if (!roles) {
                $("#Roles").focus();
                return;
            }
            try {
                roles = roles.split(',').map(i => parseInt(i));
            }
            catch (e) {
                $("#Roles").focus();
                return;
            }
            $.ajax({
                type: 'POST',
                url: "/api/game/new?roomId=" + encodeURIComponent(roomId),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(roles),
                success: function (data) {
                    if (data.code > 0) {
                        $("#Roles").focus();
                        alert(data.message);
                    } else {
                        RoomButtonConfig(true);
                        Config();
                        MyOptions();
                    }
                    IsRoomMaster();
                }
            });

        }

        function Config() {
            $("#ConfigContainer").slideToggle();
            $("#GameDashboard").slideToggle();
            GetRoomList();
        }

        function RoomButtonConfig(isEnter) {
            if (isEnter) {
                $('#Join').hide();
                $('#Leave').show();
            } else {
                $('#Join').show();
                $('#Leave').hide();
            }
        }

        $("#RefreshRommList").click(GetRoomList);

        $('#Join').click(Join);
        $('#New').click(New);
        $('#New3').click(function () {
            $('#Roles').val("0,1,1,4,5,6");
            New();
        });
        $('#New4').click(function () {
            $('#Roles').val("0,0,1,1,4,5,6");
            New();
        });
        $('#New5').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6");
            New();
        });
        $('#New6_zy').click(function () {
            $('#Roles').val("0,0,0,1,1,2,4,5,6");
            New();
        });
        $('#New6_jg').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6,7");
            New();
        });
        $('#New6_smz').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6,8");
            New();
        });
        $('#New6_lr').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6,9");
            New();
        });
        $('#New6_pj').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6,10");
            New();
        });
        $('#New6_yl').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6,11");
            New();
        });
        $('#New7_zy_jg').click(function () {
            $('#Roles').val("0,0,0,1,1,2,4,5,6,7");
            New();
        });
        $('#New7_zy_smz').click(function () {
            $('#Roles').val("0,0,0,1,1,2,4,5,6,8");
            New();
        });
        $('#New7_zy_lr').click(function () {
            $('#Roles').val("0,0,0,1,1,2,4,5,6,9");
            New();
        });
        $('#New7_jg_smz').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6,7,8");
            New();
        });
        $('#New7_jg_lr').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6,7,9");
            New();
        });
        $('#New7_smz_lr').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6,8,9");
            New();
        });
        $('#New7_syr').click(function () {
            $('#Roles').val("0,0,0,1,1,4,5,6,3,3");
            New();
        });
        $('#New7_zy_yl').click(function () {
            $('#Roles').val("0,0,0,1,1,2,4,5,6,11");
            New();
        });
        $('#Start').click(Start); 33
        $('#Leave').click(Leave);
        $('#MyOptions').click(MyOptions);
        $('#EnableCountDown').change(function () {
            if (IsCountDownEnabled()) {
                MyOptions();
            } else {
                CancelCountDown();
            }
        });
        $('#History').click(History);
        $('#Config').click(Config);
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                var a = $('input:select');
                $('#Join').triggerHandler('click');
            }
        });
        $('#MyOptions').click();
    });</script>


    @if (!string.IsNullOrEmpty(Model.RoomId))
    {
        <script type="text/javascript">$(function () {
                $('#ConfigContainer').hide();
                $('#Join').hide();
            });</script>
    }
    else
    {
        <script type="text/javascript">$(function () {
                $("#GameDashboard").hide();
                $('#Leave').hide();
            });</script>
    }
}
