@{
    ViewData["Title"] = "简介";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-left">
    <h3>角色代号</h3>
    <h4>00 村民 x 3</h4>
    <p>村民阵营，没有技能</p>
    <h4>01 狼人 x 2</h4>
    <p>狼人阵营，狼人能够互相确定狼人角色的玩家；如果是场上是孤狼，可以选择查看【中间牌堆】的1张牌；</p>
    <h4>02 爪牙 x 1</h4>
    <p>狼人阵营，爪牙能够确定所有狼人角色的玩家；如果场上没有狼人，爪牙则变成狼人；</p>
    <h4>03 守夜人 x 2</h4>
    <p>村民阵营，守夜人能够互相确定守夜人角色的玩家；如果场上只有1个守夜人，那么他可以推断出【中间牌堆】有1张牌是守夜人；</p>
    <h4>04 预言家 x 1</h4>
    <p>村民阵营，预言家可以选择查看【中间牌堆】的2张牌，或1名其他玩家的角色牌。</p>
    <h4>05 强盗 x 1</h4>
    <p>村民阵营，选择1名其他玩家将自己的角色牌与该名玩家的角色牌进行交换，强盗交换后可以查看抢劫到的新角色。</p>
    <h4>06 捣蛋鬼 x 1</h4>
    <p>村民阵营，交换任意2位其他玩家的角色牌，该角色是村民阵营的关键角色。首先该角色不会被转变成狼人阵营，其次，该角色如果无意间交换了狼人和村民的角色则可能直接瓦解狼人联盟。</p>
    <h4>07 酒鬼 x 1</h4>
    <p>村民阵营，酒鬼从【中间牌堆】选1张牌与自己的角色牌进行交换，由于喝醉了，酒鬼不知道自己新的角色。</p>
    <h4>08 失眠者 x 1</h4>
    <p>村民阵营，夜晚结束前，失眠者能够查看自己的最终角色。</p>
    <h4>09 猎人 x 1</h4>
    <p>村民阵营，如果猎人被投死，猎人投杀的玩家也会死亡。该角色能够大大增加村民阵营胜利的概率。</p>
    <h4>10 皮匠 x 1</h4>
    <p>单独阵营，获胜条件为自己死亡。</p>
    <h4>11 幽灵 x 1</h4>
    <p>选择1名其他玩家，化身成该玩家的角色，并且其阵营和技能也同该角色一模一样，该角色玩法有点复杂。</p>
</div>

<div class="text-left">
    <h3>开始</h3>
    <p>
        游戏开始需要【角色牌数量-3】名玩家进入房间。首先每名玩家在打乱的牌堆里抽取一张角色牌。每名玩家抽取了一张角色牌后，【中间牌堆】还剩下3张角色牌，游戏过程中某些角色的技能可能会用到【中间牌堆】里的角色牌。
    </p>
    <p>
        开始后，所有玩家查看自己的【初始角色牌】，并且在接下来的夜晚阶段按【初始角色】醒来发动技能。
    </p>
    <p>
        但是玩家游戏胜负的判定是按照玩家的【最终角色】来进行的。
    </p>
</div>

<div class="text-left">
    <h3>夜晚</h3>
    <p>
        夜晚阶段，玩家按照顺序轮流醒来，有主动技能的角色玩家发动技能。
    </p>
</div>

<div class="text-left">
    <h3>白天</h3>
    <p>
        白天阶段，玩家自由发言，通过交换所知各种信息（注意信息可能是假的）来推断自己和其他玩家的真实游戏角色。
    </p>
    <p>
        村民阵营的目标是找出狼人。
    </p>
    <p>
        狼人阵营的目标是隐藏自己的角色。
    </p>
</div>


<div class="text-left">
    <h3>投票</h3>
    <p>
        白天阶段讨论结束后，所有玩家投出谁是狼人的1票，获取票数最多的玩家将死亡。
    </p>
    <p>
        狼人阵营要努力避免狼人被杀，一旦有狼人（爪牙不算）被投杀，狼人阵营就输了。
    </p>
    <p>
        获得最多票数且票数大于1的所有玩家将会全部死亡。注意，所有玩家都得1票，则没有玩家死亡。
    </p>
</div>

<div class="text-left">
    <h3>胜负条件</h3>
    <h4>村民阵营</h4>
    <p>
        场上有狼人：狼人死亡。
        场上没有狼人：没有人死亡。
    </p>
    <h4>狼人阵营</h4>
    <p>
        场上有狼人：没有狼人死亡 且 不能只有皮匠死亡。
        场上有爪牙没有狼人，爪牙获胜的条件为：自己幸存 且 不能只有皮匠死亡。
    </p>
    <h4>皮匠</h4>
    <p>
        自己死亡。
    </p>
</div>
