@{
    ViewData["Title"] = "简介";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="text-left">
    <h3>角色代号</h3>
    <h4>00 村民 x 3</h4>
    <p>村民阵营，没有技能</p>
    <h4>01 狼人 x 2</h4>
    <p>狼人阵营，能够互相确定狼人身份玩家</p>
    <h4>02 爪牙 x 1</h4>
    <p>狼人阵营，能够确定所有狼人身份玩家</p>
    <h4>03 守夜人 x 2</h4>
    <p>村民阵营，能够互相确定守夜人身份玩家</p>
    <h4>04 预言家 x 1</h4>
    <p>村民阵营，查看中间2张身份牌，或一名其他玩家身份</p>
    <h4>05 强盗 x 1</h4>
    <p>村民阵营，选择一名其他玩家抢劫（交换）其身份牌，并且强盗知道抢劫来的新身份</p>
    <h4>06 捣蛋鬼 x 1</h4>
    <p>村民阵营，交互两位其他玩家的身份牌</p>
    <h4>07 酒鬼 x 1</h4>
    <p>村民阵营，从中间选一张牌交换自己的身份牌，不知道新的身份</p>
    <h4>08 失眠者 x 1</h4>
    <p>村民阵营，夜晚结束前，查看自己的最终身份</p>
    <h4>09 猎人 x 1</h4>
    <p>村民阵营，如果自己被投死，投票的玩家全部死亡</p>
    <h4>10 皮匠 x 1</h4>
    <p>单独阵营，获胜条件为自己死亡</p>
    <h4>11 幽灵 x 1</h4>
    <p>选择一名其他玩家，化身成该玩家的身份，并且其阵营和技能也同该身份一模一样，该身份玩法有点复杂。</p>
</div>

<div class="text-left">
    <h3>开始</h3>
    <p>
        游戏开始需要角色牌数量-3名玩家进入房间，开始后，所有玩家查看自己的初始身份牌，并且在接下来的夜晚阶段按初始身份醒来发动技能。但是游戏胜负条件的判断是按照玩家的最终身份来判定。
    </p>
</div>

<div class="text-left">
    <h3>夜晚</h3>
    <p>
        夜晚阶段，玩家按照顺序轮流醒来，有主动技能的身份玩家发动技能。
    </p>
</div>

<div class="text-left">
    <h3>白天</h3>
    <p>
        白天阶段，玩家自由发言，通过交换所知信息，推断出谁是狼人身份。
    </p>
</div>


<div class="text-left">
    <h3>投票</h3>
    <p>
        白天阶段讨论结束后，所有玩家投出谁是狼人的一票，获取票数最多的玩家将死亡，如果有名玩家平票，并且票数大于1，那多名玩家同时死亡。所有玩家都得1票，则没有玩家死亡。
    </p>
</div>

<div class="text-left">
    <h3>胜负条件</h3>
    <h4>村民阵营</h4>
    <p>
        场上有狼人：狼人死亡。
        场上没有狼人：没有人死亡。
    </p>
    <h4>狼人阵营</h4>
    <p>
        场上有狼人：没有狼人死亡 且 不能只有皮匠死亡。
        场上有爪牙没有狼人，爪牙获胜的条件为：自己幸存 且 不能只有皮匠死亡。
    </p>
    <h4>皮匠</h4>
    <p>
        自己死亡。
    </p>
</div>
