@{
    ViewData["Title"] = "简介";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="text-left">
    <h3>角色代号</h3>
    <h4>00 村民 x 3</h4>
    <p>村民阵营，没有技能</p>
    <h4>01 狼人 x 2</h4>
    <p>狼人阵营，能够互相确定狼人身份玩家</p>
    <h4>02 爪牙 x 1</h4>
    <p>狼人阵营，能够确定所有狼人身份玩家</p>
    <h4>03 守夜人 x 2</h4>
    <p>村民阵营，能够互相确定守夜人身份玩家</p>
    <h4>04 预言家 x 1</h4>
    <p>村民阵营，查看中间2张身份牌，或一名其他玩家身份</p>
    <h4>05 强盗 x 1</h4>
    <p>村民阵营，抢劫其他玩家身份牌，并且知道抢劫来的新身份</p>
    <h4>06 捣蛋鬼 x 1</h4>
    <p>村民阵营，交互两位其他玩家的身份牌</p>
    <h4>07 酒鬼 x 1</h4>
    <p>村民阵营，从中间选一张牌交互自己的身份牌，不知道新的身份</p>
    <h4>08 失眠者 x 1</h4>
    <p>村民阵营，夜晚结束前，查看自己的最终身份</p>
    <h4>09 猎人 x 1</h4>
    <p>村民阵营，如果自己被投死，投票的玩家全部死亡</p>
    <h4>10 皮匠 x 1</h4>
    <p>村民阵营，自己单独阵营，获胜条件为自己死亡</p>
    <h4>11 幽灵 x 1</h4>
    <p>选择一名玩家，化身成该玩家的身份，阵营和技能也同该身份一样，有点复杂。</p>
</div>

<div class="text-left">
    <h3>胜负条件</h3>
    <h4>村民阵营</h4>
    <p>
        场上有狼人：狼人死亡。
        场上没有狼人：没有人死亡。
    </p>
    <h4>狼人阵营</h4>
    <p>
        场上有狼人：没有狼人死亡 且 不能只有皮匠死亡。
        场上有爪牙没有狼人，爪牙获胜的条件为：自己幸存 且 不能只有皮匠死。
    </p>
    <h4>皮匠</h4>
    <p>
        自己死亡。
    </p>
</div>
